1. Используя ресурс kaggle (https://www.kaggle.com/), выберите один из наборов
данных. Загрузите этот набор и выведите первые 10 записей на экран.

In [4]:
import pandas as pd

df = pd.read_csv('data.csv')
df.head()

,#,Country (or dependency),Population (2022),Yearly change,Net change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med.Age,Urban Pop %,World Share
0,1,China,"1,439,323,776",0.39%,"5,540,090",153,"9,388,211","-348,399",1.7,38,61%,18.47%
1,2,India,"1,380,004,385",0.99%,"13,586,631",464,"2,973,190","-532,687",2.2,28,35%,17.70%
2,3,United States,"331,002,651",0.59%,"1,937,734",36,"9,147,420","954,806",1.8,38,83%,4.25%
3,4,Indonesia,"273,523,615",1.07%,"2,898,047",151,"1,811,570","-98,955",2.3,30,56%,3.51%
4,5,Pakistan,"220,892,340",2.00%,"4,327,022",287,"770,880","-233,379",3.6,23,35%,2.83%

2. Опишите данные набора: какие признаки в нем присутствуют, что они означают,
какой у них тип данных, какие значения могут принимать

дата сет показывает популяцию населения в странах, именение популяции за год, плотность населенеия, количество мигрантов уровень рождаемости

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   #                        235 non-null    int64
 1   Country (or dependency)  235 non-null    object
 2   Population (2022)        235 non-null    object
 3   Yearly change            235 non-null    object
 4   Net change               235 non-null    object
 5   Density (P/Km²)          235 non-null    object
 6   Land Area (Km²)          235 non-null    object
 7   Migrants (net)           201 non-null    object
 8   Fert. Rate               235 non-null    object
 9   Med.Age                  235 non-null    object
 10  Urban Pop %              235 non-null    object
 11  World Share              235 non-null    object
dtypes: int64(1), object(11)
memory usage: 22.2+ KB

3. Укажите какие признаки являются количественными, качественными порядковыми
и качественными номинальными

количественные - всё кроме country

качественный порядковые - 

качественные номинальные - country