In [2]:
import pandas as pn
file="lab3.txt"

1. Загрузите данные из файла в объект DataFrame, Добавьте заголовки к
столбцам: «index», «year», «month», «day», «min_t», «average_t», «max_t»,
«rainfall».
Расшифровка:
• index – индекс ВМО,
• year – год,
• month – месяц,
• day – день,
• min_t – минимальная температура воздуха,
• average_t – средняя температура воздуха,
• max_t – максимальная температура воздуха,
• rainfall – количество осадков

In [3]:
df=pn.read_table(file,header = None,sep=";")
df.columns=["index","year","month","day","min_t","average_t","max_t","rainfall"]
print(df)

       index  year  month  day  min_t average_t  max_t rainfall
0      29838  1960      1    1   -6.9      -5.4   -3.8      0.1
1      29838  1960      1    2  -14.4     -10.0   -6.7      0.5
2      29838  1960      1    3  -21.7     -19.7  -13.4      0.0
3      29838  1960      1    4  -24.9     -21.4  -16.9      0.0
4      29838  1960      1    5  -18.3      -8.0   -3.3      4.1
...      ...   ...    ...  ...    ...       ...    ...      ...
22276  29838  2020     12   27  -41.7     -36.3  -32.8      0.0
22277  29838  2020     12   28  -40.1     -34.2  -25.5      0.0
22278  29838  2020     12   29  -28.2     -23.9  -18.6      0.0
22279  29838  2020     12   30  -21.8     -13.6   -9.9      0.8
22280  29838  2020     12   31  -23.2     -19.0  -10.0      1.4

[22281 rows x 8 columns]

2. Удалите столбец index

In [4]:
del df["index"]
print(df)

       year  month  day  min_t average_t  max_t rainfall
0      1960      1    1   -6.9      -5.4   -3.8      0.1
1      1960      1    2  -14.4     -10.0   -6.7      0.5
2      1960      1    3  -21.7     -19.7  -13.4      0.0
3      1960      1    4  -24.9     -21.4  -16.9      0.0
4      1960      1    5  -18.3      -8.0   -3.3      4.1
...     ...    ...  ...    ...       ...    ...      ...
22276  2020     12   27  -41.7     -36.3  -32.8      0.0
22277  2020     12   28  -40.1     -34.2  -25.5      0.0
22278  2020     12   29  -28.2     -23.9  -18.6      0.0
22279  2020     12   30  -21.8     -13.6   -9.9      0.8
22280  2020     12   31  -23.2     -19.0  -10.0      1.4

[22281 rows x 7 columns]

3. Используя метод info(), oтветьте на вопросы:

In [5]:
t=["min_t","average_t","max_t","rainfall"]
for i in t:
    df[i]=df[i].str.replace(" ","")
    df[i]=pn.to_numeric(df[i])
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22281 entries, 0 to 22280
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       22281 non-null  int64
 1   month      22281 non-null  int64
 2   day        22281 non-null  int64
 3   min_t      22255 non-null  float64
 4   average_t  22255 non-null  float64
 5   max_t      21717 non-null  float64
 6   rainfall   22253 non-null  float64
dtypes: float64(4), int64(3)
memory usage: 1.2 MB
None

3.1. Есть ли в данных пропущенные значения?

In [6]:
print(df.applymap(pn.isnull))

        year  month    day  min_t  average_t  max_t  rainfall
0      False  False  False  False      False  False     False
1      False  False  False  False      False  False     False
2      False  False  False  False      False  False     False
3      False  False  False  False      False  False     False
4      False  False  False  False      False  False     False
...      ...    ...    ...    ...        ...    ...       ...
22276  False  False  False  False      False  False     False
22277  False  False  False  False      False  False     False
22278  False  False  False  False      False  False     False
22279  False  False  False  False      False  False     False
22280  False  False  False  False      False  False     False

[22281 rows x 7 columns]

3.2. В каком столбце данных больше всего пропущенных значений?

In [7]:
print(df.isnull().sum())
print(df.isnull().sum().max())

year           0
month          0
day            0
min_t         26
average_t     26
max_t        564
rainfall      28
dtype: int64
564

4. В данных за какой год больше всего пропусков?

In [8]:
n={}
for y in df['year'].unique():
    n[y]=df[df['year']==y].isna().sum().sum()
print(f'{max(n,key=n.get)} год ,{n[max(n,key=n.get)]} пропусков')

1961 год ,334 пропусков

5. Объедините столбцы «Год», «Месяц» и «День» в один столбец «Дата» в
формате гггг-мм-дд (2000-01-20). Данные в новом столбце должны иметь
формат datetime;

In [9]:
df['data']=pn.to_datetime(df['day'].astype(str)+'-'+df['month'].astype(str)+'-'+df['year'].astype(str),format='%d-%m-%Y')

print(df)

       year  month  day  min_t  average_t  max_t  rainfall       data
0      1960      1    1   -6.9       -5.4   -3.8       0.1 1960-01-01
1      1960      1    2  -14.4      -10.0   -6.7       0.5 1960-01-02
2      1960      1    3  -21.7      -19.7  -13.4       0.0 1960-01-03
3      1960      1    4  -24.9      -21.4  -16.9       0.0 1960-01-04
4      1960      1    5  -18.3       -8.0   -3.3       4.1 1960-01-05
...     ...    ...  ...    ...        ...    ...       ...        ...
22276  2020     12   27  -41.7      -36.3  -32.8       0.0 2020-12-27
22277  2020     12   28  -40.1      -34.2  -25.5       0.0 2020-12-28
22278  2020     12   29  -28.2      -23.9  -18.6       0.0 2020-12-29
22279  2020     12   30  -21.8      -13.6   -9.9       0.8 2020-12-30
22280  2020     12   31  -23.2      -19.0  -10.0       1.4 2020-12-31

[22281 rows x 8 columns]

6. Для каждого наблюдения рассчитайте размах температур (разность
максимальной и минимальной суточных температур) и количество
предшествующих ему дней без осадков (используйте циклы Python и
условный оператор):

![alt text](num6.jpg "Title")

In [25]:
df['temp range'] = abs(df['min_t'] - df['max_t'])
count = 0
maxcount = 0
df['no rain'] = df['rainfall']
for idx, d in enumerate(df['no rain']):
    df['no rain'][idx] = count
    if d == 0:
        count += 1
    else:
        count = 0
    if maxcount < count:
        maxcount = count
print(df)

C:\Users\iskan\AppData\Local\Temp\ipykernel_19700\2505710210.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['no rain'][idx] = count

       year  month  day  min_t  average_t  max_t  rainfall       data  \
0      1960      1    1   -6.9       -5.4   -3.8       0.1 1960-01-01
1      1960      1    2  -14.4      -10.0   -6.7       0.5 1960-01-02
2      1960      1    3  -21.7      -19.7  -13.4       0.0 1960-01-03
3      1960      1    4  -24.9      -21.4  -16.9       0.0 1960-01-04
4      1960      1    5  -18.3       -8.0   -3.3       4.1 1960-01-05
...     ...    ...  ...    ...        ...    ...       ...        ...
22276  2020     12   27  -41.7      -36.3  -32.8       0.0 2020-12-27
22277  2020     12   28  -40.1      -34.2  -25.5       0.0 2020-12-28
22278  2020     12   29  -28.2      -23.9  -18.6       0.0 2020-12-29
22279  2020     12   30  -21.8      -13.6   -9.9       0.8 2020-12-30
22280  2020     12   31  -23.2      -19.0  -10.0       1.4 2020-12-31

       temp range  no rain
0             3.1      0.0
1             7.7      0.0
2             8.3      0.0
3             8.0      1.0
4            15.0      2.0
...           ...      ...
22276         8.9      1.0
22277        14.6      2.0
22278         9.6      3.0
22279        11.9      4.0
22280        13.2      0.0

[22281 rows x 10 columns]

7. Определите самый длинный период засухи.

In [14]:
print(maxcount)

27

8. Для каждого года вычислите среднегодовую температуру и общее количество
осадков. Запишите результаты в объекты Series.

In [19]:
avg_temp = df.groupby(['year'])['average_t'].mean()
cum_rain = df.groupby(['year'])['rainfall'].sum()
print(avg_temp, cum_rain)

year
1960   -0.113934
1961    2.424384
1962    3.326849
1963    3.461264
1964    2.291803
          ...
2016    3.021858
2017    3.512329
2018    1.607397
2019    3.413973
2020    4.776503
Name: average_t, Length: 61, dtype: float64 year
1960    472.7
1961    517.8
1962    368.7
1963    430.3
1964    425.3
        ...
2016    488.8
2017    498.2
2018    442.4
2019    375.4
2020    437.2
Name: rainfall, Length: 61, dtype: float64

8.1. Какой год можно считать самым теплым? Какой самым холодным?

In [16]:
print(f"самый теплый год: {avg_temp.idxmax()}")
print(f"самый холодный год: {avg_temp.idxmin()}")

самый теплый год: 2020
самый холодный год: 1969

8.2. В какой год выпало больше всего осадков? В какой меньше всего?

In [18]:
print(f"наибольшее кол-во осадков: {cum_rain.idxmax()}")
print(f"наименьшее кол-во осадков: {cum_rain.idxmin()}")

наибольшее кол-во осадков: 1970
наименьшее кол-во осадков: 1973

9. Выведете наблюдения, удовлетворяющие условиям:
    1. Средняя температура воздуха ниже -30С (для некоторых регионов
можно использовать -10С, -35С, -40С).
    2. Средняя температура воздуха выше 27С и количество дней без осадков больше 3.

In [21]:
print(df[df['average_t'] < -30])
print(df[(df['average_t'] > 27) & (df["no rain"] > 3)])

       year  month  day  min_t  average_t  max_t  rainfall       data
17     1960      1   18  -31.4      -31.2  -27.2       0.0 1960-01-18
18     1960      1   19  -35.8      -33.2  -29.7       0.0 1960-01-19
323    1960     11   19  -31.3      -30.1    NaN       0.8 1960-11-19
361    1960     12   27  -34.2      -30.2    NaN       0.0 1960-12-27
373    1961      1    8  -36.2      -34.5    NaN       0.0 1961-01-08
...     ...    ...  ...    ...        ...    ...       ...        ...
21585  2019      2    5  -38.0      -32.0  -24.3       0.0 2019-02-05
21588  2019      2    8  -38.3      -32.8  -24.8       0.0 2019-02-08
22275  2020     12   26  -35.5      -31.6  -23.4       0.0 2020-12-26
22276  2020     12   27  -41.7      -36.3  -32.8       0.0 2020-12-27
22277  2020     12   28  -40.1      -34.2  -25.5       0.0 2020-12-28

[241 rows x 8 columns]
       year  month  day  min_t  average_t  max_t  rainfall       data
1270   1963      6   24   19.4       27.4   33.4       0.0 1963-06-24
2029   1965      7   22   19.8       27.3   35.0       0.0 1965-07-22
3471   1969      7    3   21.4       27.1   33.2       0.0 1969-07-03
3472   1969      7    4   22.1       28.9   35.5       0.0 1969-07-04
3473   1969      7    5   23.2       27.9   34.2       0.0 1969-07-05
5305   1974      7   11   16.9       27.8   37.9       0.0 1974-07-11
6381   1977      6   21   19.5       27.2   32.9       0.0 1977-06-21
8601   1983      7   20   20.4       27.2   33.7       0.0 1983-07-20
10395  1988      6   17   19.4       28.3   36.6       0.0 1988-06-17
11884  1992      7   15   17.9       28.0   37.1       0.0 1992-07-15
15563  2002      8   11   21.7       28.5   38.3       0.0 2002-08-11